nav ul.sidenav li>a {
  color: #ffffff;
}

nav ul a,
.sidenav li>a {
  transition: 0.3s ease-in;
}

nav ul a:hover,
.sidenav li>a:hover {
  color: #00a9e2;
}

section.pro-title {
  /* padding: 1.9rem; */
  padding: 3%;
  background-color: #424242 !important;
}


div.modal-content a i {
  display: block;
  margin-left: auto;
  width: fit-content;
  font-size: 2.5rem;
}

section.skills-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em 3em;
  justify-items: center;
  align-items: center;

}

section.skills-section h3 {
  justify-self: center;
  grid-column: 1 / -1;
}

section.skills-section .additional-skills {
  grid-column: 1/-1;
  width: 100%;
}