body {
  font-family: 'Roboto', sans-serif, Cambria, Cochin, Georgia, serif;
}

/* Navbar */
nav ul a:hover {
  color: lightskyblue;
}

.sidenav li > a {
  color: white;
}

/* Font size to prevent spilling out of .container */
@media screen and (max-width: 670px) {
  nav .container > a {
    font-size: 1.9rem;
  }
}

/* Title Header */
.pro-title {
  padding: 1.9rem;
  background-color: #424242 !important;
}

/* Project Section */
.modal .modal-content {
  padding: 35px;
}

.modal .modal-content .close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.modal-content a {
  color: #616161;
}

.modal-content a:hover {
  color: lightskyblue;
}

.modal-footer a:hover {
  color: lightskyblue;
}
.footer-text{
    text-transform: none
}


/* .modal-content{
    padding: 1rem;
} */

/* .portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
} */

/* .tabs .tab a:focus,
.tabs .tab a:focus.active {
    background: transparent;
} */
/* Icons being on the same line as text
.fa,
.fab,
.fal,
.far,
.fas {
    line-height: inherit;
} */
/* nav .brand-logo {
                        font-size: 1.7rem;
                    } */
/* vw is a relation unit, the smaller the screen the smaller the top  */
